body {
    background-color: #C0C0C0;
}

header {
    background-color: #ffffff;
}

footer {
    background-color: #ffffff;
}

.card {
    width: 240px;
    background-color: #ffffff;
    margin: auto;
}

.card__img-top {
    width: 228px;
    height: 132px;
    margin-bottom: 5px;
}

.card__title {
    color: #282828;
    font-size: 14px;
}

.card__description {
    color: #282828;
    font-size: 12px;

}
